.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	> div.infoContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		margin-top: -3rem;
		width: 86%;
		background-color: #fff;
		border: 1px solid #f0f1f1;

		> div {
			overflow: hidden;
			margin-right: 1rem;

			> p {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		> button {
			width: 25%;
		}
	}

	> a {
		aspect-ratio: 0.87;

		> img {
			aspect-ratio: 0.87;
		}
	}
}

.miniCardContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;
	border: 1px solid #f0f1f1;
	padding: 1rem;

	> span {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		margin: 0 3%;
		height: 100%;

		> p {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.artist {
				color: #f17900;
				flex: 1;
			}
		}
	}

	> button {
		width: 20%;
	}

	> a {
		width: 20%;
		aspect-ratio: 1;

		> img {
			aspect-ratio: 1;
		}
	}
}

.detailsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;

	> span {
		position: relative;
		width: 40%;

		> button {
			position: absolute;
			top: 3.5%;
			right: 4%;
			width: 12%;
		}

		> a {
			aspect-ratio: 0.87;

			> img {
				aspect-ratio: 0.87;
			}
		}
	}

	> div {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		span {
			color: #e0a449;
		}

		h2 {
			padding-bottom: 2%;
		}
	}
}

@media (max-width: 360px) {
	.detailsContainer {
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		> span,
		> div {
			width: 90%;
		}
	}
}
