.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;

	> div {
		width: calc(33.33% - 0.67rem);
	}
}

.searchForm {
	min-width: 60%;
	margin-bottom: 0;

	> div {
		position: relative;

		> input {
			padding: 1rem;
			border-radius: 1rem;
			border: none;
			width: 100%;

			&::placeholder {
				color: #39393950;
			}

			&:focus {
				outline: none;
			}
		}

		> button {
			position: absolute;
			right: 0;
			background: transparent;
			height: 100%;
			border-radius: 1rem;
			aspect-ratio: 1;
			border: none;

			> img {
				height: 70%;
				vertical-align: middle;
			}
		}
	}
}

.validationMessage {
	margin-top: 0;
	color: #f17900;
	min-height: 2rem;
}

.sortBy {
	align-self: flex-end;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
}
